[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/catalin/Desktop/NFT%20MarketPlace1/nft_marketplace/src/frontend/components/App.js
Type=Link
URL=file:///home/catalin/Desktop/NFT%20MarketPlace1/nft_marketplace/src/frontend/components/App.js
Icon=application-javascript
