[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/catalin/Desktop/NFT%20MarketPlace1/nft_marketplace/src/backend/contracts/NFT.sol
Type=Link
URL=file:///home/catalin/Desktop/NFT%20MarketPlace1/nft_marketplace/src/backend/contracts/NFT.sol
Icon=text-x-csrc
